<div class="container">
	<!-- STACK #1 -->
	<div class="col-md-4">
		<h4>To-do stack</h4>
		<textarea class="form-control" rows="3"></textarea>
		<button type="button" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-save"></span></button><br />

		<div class="list-group">
			<a class="list-group-item">
				<h3>Lorem ipsum</h3> dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</a>
			<a class="list-group-item">
				Ipsum
			</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
			<a class="list-group-item">q</a>
		</div>
	</div>

	<!-- STACK #2 -->
	<div class="col-md-4">
		<h4>Note stack</h4>
		<textarea class="form-control" rows="3"></textarea>
		<button type="button" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-save"></span></button><br />

	</div>

	<!-- MAYBE FRIENDS? -->
	<div class="col-md-4">
	</div>
</div>